body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container {
    width: 300px;
    margin: auto;
}

.form-box {
    display: none;
}

.form-box.active {
    display: block;
}